@import "/src/styles/_colors";
@import "/src/styles/_variables";


.button {
    cursor: pointer;
    border: none;
    width: 100%;
    font-family: "Inter", "helvetica", "arial", "verdana", "sans-serif";
    font-weight: 700;
    border: 1px solid $base-purple;
}

.rounded {
    border-radius: 10px;
}

.purple {
    background: $base-purple;
    color: $base-white;
    transition: 0.2s ease;

    &:hover {
        background: $base-gray;
        color: $base-purple;
    }
}

.gray {
    background: $base-gray;
    color: $base-purple;
    transition: 0.2s ease;

    &:hover {
        background: $base-purple;
        color: $base-white;
    }
}

.small {
    padding: 13px;
    font-size: $font-size-mobile;
}

.large {
    padding: 17px;
    font-size: $font-size-base;
}