@import "/src/styles/_colors";
@import "/src/styles/_variables";


.button {
    cursor: pointer;
    border: none;
    width: 100%;
    font-family: "Inter", "helvetica", "arial", "verdana", "sans-serif";
    font-weight: 700;
    border: 1px solid $base-purple;
}

.rounded {
    border-radius: 10px;
}

.purple {
    background: $base-purple;
    color: $base-white;
    transition: 0.3s ease;

    &:hover {
        background: $base-gray;
        color: $base-purple;
    }

    &.active {
        background: $base-gray;
        color: $base-purple;
    }
}

.gray {
    background: $base-gray;
    color: $base-purple;
    transition: 0.3s ease;

    &:hover {
        background: $base-purple;
        color: $base-white;
    }

    &.active {
        background: $base-purple;
        color: $base-white;
    }
}

.small {
    padding: 17px 2px;
    font-size: $font-size-base;
    transition: 0.3s ease;

    &:hover {
        font-size: 17px;
    }
}

.large {
    padding: 17px 2px;
    font-size: $font-size-large;
    transition: 0.3s ease;

    &:hover {
        font-size: 25px;
    }
}

@media (max-width: 715px) {

    .button {
        font-size: $font-size-mobile;

        &:hover {
            font-size: 12px;
        }
    }

    .large {
        padding: 17px 2px;
        font-size: $font-size-large;

        &:hover {
            font-size: 25px;
        }
    }
}