@import "/src/styles/_colors";
@import "/src/styles/_variables";

.block {
    padding: 19px 19px 50px 19px;
    border-radius: 10px;

    .title {
        font-size: 20px;
        font-weight: 700;
    }
    
    .paddingOn {
        padding: 27px 23px 0 23px;
    }

    .paddingOff {
        padding: 12px 0 0 0;
    }
}

.purple {
    background: $base-purple;
    color: $base-white;
}

.white {
    background: $base-gray;
    color: $base-purple
}