$base-blue: #0067a3;
$base-blue-main: #0079bf;
$base-gray: #ebecf0;
$base-gray-text: #5e6c84;
$base-gray-text-disabled: #8fa9b9;
$base-white: #fff;

$btn-close: #ffc7c7;
$background-task-hover: #dedede;